.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 2rem;
}

.sub_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
}

.title {
  font-size: 200px;
  font-family: "Sansita Swashed", cursive;
  margin-left: 5vw;
  margin-bottom: 5vw;
  font-weight: 900;
  color: white;
}

.subtitle {
  font-family: "Bebas Neue", cursive;
  color: white;
  font-size: 50px;
}

.table {
  background-color: #ffffff99;
  border-radius: 10px;
  height: 90%;
  width: 98%;
}
