.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 2rem;
}

.sub_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
}

.title {
  font-size: 200px;
  font-family: "Sansita Swashed", cursive;
  margin-left: 5vw;
  margin-bottom: 5vw;
  font-weight: 900;
  color: white;
}

.subtitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: "Bebas Neue", cursive;
  color: white;
  font-size: 50px;

  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;

  border-radius: 10px;
  background-color: #ff2f77;

  cursor: pointer;
}

.subtitle:hover {
  background: rgb(0, 255, 250);
  background: linear-gradient(
    310deg,
    rgba(0, 255, 250, 1) 0%,
    rgba(255, 47, 119, 1) 100%
  );
}

.table {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #ffffff99;
  border-radius: 10px;
  height: 90%;
  width: 98%;
}
